main[id="edit-mode-Single-Page"]  section:hover {
    border: 1px inset red;
    cursor: pointer;
    @apply bg-slate-500;
}



.sections-editmode:hover div[name="edit-mode-tool-box"]{
    display: flex;
}

button[name="rp-edit-button"]{
    @apply w-1/2 bg-white border hover:border-red-500;
}

button[name="rp-edit-button"]::after{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\26A0";
}
button[name="rp-delete-button"]::after{
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\01F3B2";
}

button[name="rp-delete-button"]{
    @apply w-1/2 bg-white border hover:border-red-500;
}
/* main[id="edit-mode-Single-Page"]  div[name="edit-mode-tool-box"] {
    @apply ;
} */



