@font-face {
    font-family: "ONE PIECE";

    src: url("https://db.onlinewebfonts.com/t/82848488b73a87d72f2436c02b9ab608.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/82848488b73a87d72f2436c02b9ab608.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/82848488b73a87d72f2436c02b9ab608.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/82848488b73a87d72f2436c02b9ab608.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/82848488b73a87d72f2436c02b9ab608.svg#ONE PIECE")format("svg");
}

.op-font {
    font-family: "ONE PIECE";
}

.bg-wood {
    background-image: url("../img/jpeq/wood-bg.jpg");
    background-repeat: repeat;
}

.bg-paper-wood {
    background-image: url("../img/jpeq/4k-old-paper-texture-close-up-brown-paper-paper-backgrounds.jpg");
    background-repeat: repeat;
}

header {
    font-family: "ONE PIECE";
    font-size: 36px;
    @apply text-6xl md:text-xl;
}

body {
    @apply min-h-screen w-full m-0 p-0 bg-slate-800/70;
}

.box-debugger {
    @apply border border-red-600;

}


.input-field {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
}

.input-field:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
        -13px -13px 100px #ffffff;
}


ul {
    list-style-type: circle;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

/* UNDERLINE HOVER EFFECT */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    @apply text-black text-2xl;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    @apply bg-[#f5a523];
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.animate-height {
    overflow: hidden;
    max-height: 0px;
}

.open {
    transition: 700ms max-height;
    max-height: 350px;
}

.closed {
    transition: 700ms max-height;
    max-height: 0px;
}